<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Employee Data</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h2>Add Employee Data through Boomi API</h2>
	<div class="div">
		<a  href="#" th:href="@{/}" style="text-decoration: none"class="link">Home</a>
		<a  href="#" th:href="@{/employee}" style="text-decoration: none"class="link">Get Employees</a>
		<a  href="#" th:href="@{/addEmployee}" style="text-decoration: none"class="link">Add Employee</a>
	</div>

	<form action="addEmployee" method="post">
		<div>
			<label>Enter the Employee's First Name</label> <input
				type="text" name="firstName">
		</div>
		<div>
			<label>Enter the Employee's Last Name</label> <input
				type="text" name="lastName">
		</div>
		<div>
			<label>Enter the Employee's Email Address</label> <input
				type="text" name="emailAddress">
		</div>
		<button type="submit">Submit</button>
	</form>
</body>
</html>