<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Details</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h2>Employee Data from Boomi API</h2>
	<div class="div">
		<a  href="#" th:href="@{/}" style="text-decoration: none"class="link">Home</a>
		<a  href="#" th:href="@{/employee}" style="text-decoration: none"class="link">Get Employees</a>
		<a  href="#" th:href="@{/addEmployee}" style="text-decoration: none"class="link">Add Employee</a>
	</div>
    
    <div class="div1">
     <h2>All Employee details in Table</h2>
     <table id="table" style="width:100%">
			<tr>
  				<th>First_Name</th>
    			<th>Last_Name</th>
    		</tr>	
			<tr th:each="emp,iterStat : ${employeeResponse}" >
				<td><span th:text="${emp.getFirstName()}"></span></td>
				<td><span th:text="${emp.getLastName()}"></span></td>
			</tr>
	</table>
	<form action="addEmployee" method="GET">
		<button type="submit">Add Employee</button>
	</form>
	</div> 
</body>
</html>