<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Weather Data</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body
	background="weather.jpg">
	<h2>Weather API</h2>
	<div class="div">
	    <a href="#" th:href="@{/}" style="text-decoration: none"class="link">Home</a>
		<a href="#" th:href="@{/weather}" style="text-decoration: none" class="link">WEATHER DATA</a>
	</div>

	<form action="weather" method="post">
		<div>
			<label>Enter the city name to check the weather</label> <input
				type="text" name="city">
		</div>
		<button type="submit">Submit</button>
	</form>
</body>
</html>