<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABI API Factory Demo-0</title>
</head>
<body background="login_background_new.jpg" style=" width: 1000px; height: 655px; border:none; border-radius:3px;">
<h1>Service Catalog</h1>
<div> 
<ul>
<li><a style = "color: #ffffff" class="btn btn-success" th:href="@{/weather}">Weather</a></li>
<li><a style = "color: #ffffff" class="btn btn-success" th:href="@{/employee}">Employee</a></li>
<li><a style = "color: #ffffff" class="btn btn-success" th:href="@{/addEmployee}">Add Employee</a></li>
</ul>
</div>
<div class="footer-content labelWhite12thin">
	©  2021 &nbsp;Anheuser-Busch, LLC, St. Louis, MO.
	&nbsp;
</div>
<div style="position: relative; box-sizing: border-box; -moz-box-sizing: border-box;
		width: 100%; margin: 10px 0px 0px 0px;
		font: normal 11px Arial, Helvetica, sans-serif; color: #ffffff; text-align: center;">
	<div style="margin: 5px 0px 0px 0px;">
		<div style="display: inline-block; margin: 6px 0px 0px 0px;">Powered by</div>
		<img src="dxc_logo.png" border="0" style="vertical-align: top; margin: 0px 0px 0px 3px;">
	</div>
</div>
</body>
</html>