<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Details</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h2>Insert Employee Data through Boomi API</h2>
	<div class="div">
		<a  href="#" th:href="@{/}" style="text-decoration: none"class="link">Home</a>
		<a  href="#" th:href="@{/employee}" style="text-decoration: none"class="link">Get Employees</a>
		<a  href="#" th:href="@{/addEmployee}" style="text-decoration: none"class="link">Add Employee</a>
	</div>
    
    <div class="div1">
     <span>Requested Employee Information :</span>
     <span th:text="${simpleEmployeeResponse}"></span>
	</div> 
</body>
</html>